* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  color: black;
  min-width: 375px;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.banner {
  display: flex;
}

.banner__img {
  width: 100%;
  max-height: 200px;
  display: block;
}

.nav--header {
  flex: 1 1 auto;
}

.nav__list {
  list-style: none;
}

.nav__item {
  display: inline-block;
}

.nav__item--right {
  display: inline;
}

.nav__link {
  text-decoration: none;
}

.footer {
  margin-top: 20px;
  justify-content: space-evenly;
  padding: 15px;
  align-items: center;
}

.footer__copyright {
  font-size: 18px;
  color: white;
}

@media (min-width: 1500px) {
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.section {
  padding: 10px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  text-align: center;
}

.section--contact {
  min-width: 300px;
  height: 400px;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.section__data {
  margin-top: 10px;
  width: 330px;
  height: 40px;
  border-radius: 10px;
  margin-right: 10px;
  border: solid 1.5px;
  border-color: #18BC9C;
  margin-left: auto;
  margin-right: auto;
}

.section__btn {
  width: 200px;
  height: 50px;
  font-size: 1.3rem !important;
  border-radius: 24px !important;
  margin-top: 10px;
}

.section__label {
  margin-top: 10px;
  font-size: 1.3rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 378px) {
  .section__label {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 689px) {
  .section--contact {
    max-width: 900px;
    margin-top: 4em;
  }
  .section__data {
    width: 500px;
  }
  .section__label {
    width: 200px;
  }
}

.section--billboard {
  flex-wrap: wrap;
  justify-content: space-around;
}

.login {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 2%;
}

.login--panel {
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  justify-content: center;
  margin-bottom: 200px;
}

.login__data {
  width: 60%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.login__icon {
  width: 100px;
  height: auto;
}

@media (min-width: 600px) {
  .login--panel {
    max-width: 600px;
    margin-bottom: 0;
  }
}

.article__billboard {
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.article__billboard--description {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
}

.article__billboard--description:hover {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.article__billboard__title--billboard {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.article__billboard__text--billboard {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2rem;
  transition: 0.5s;
  text-align: justify;
}

.article__billboard__text--billboard:hover {
  opacity: 1;
  transition-delay: 0.5s;
}

.billboardcontainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.billboardcontainer__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.billboardcontainer:hover {
  opacity: 0;
}
