$primary-color: #000;
$secundary-color: #fff;
$tertiary-color: rgba(0, 0, 0, .5);
$quartity-color: rgba(200, 231, 255, 0.3);
$fifth-color: rgba(255, 203, 242, 0.5);
$sixth-color:rgba(0, 0, 0, 0.5);
$seventh-color:rgb(173, 216, 230);
$nineth-color:red;
$tenth-color:#ced4da;
$eleventh-color:#18BC9C;