<%- include('partials/_header') %>
<section class="section section--about">
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="https://definicionde.es/wp-content/uploads/2019/04/definicion-de-persona-min.jpg" alt="about" />
        </div>
        <article class="article__about article__about--description">
            <h2 class="article__title--about">ABOUT US 1</h2>
            <p class="article__text--about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex
                debitis sunt nam, obcaecati perferendis laudantium accusamus,
                necessitatibus totam amet impedit dolore nobis optio quidem enim culpa
                cumque sed ipsum!
            </p>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="https://definicionde.es/wp-content/uploads/2019/04/definicion-de-persona-min.jpg" alt="about" />
        </div>
        <article class="article__about article__about--description">
            <h2 class="article__title--about">ABOUT US 2</h2>
            <p class="article__text--about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex
                debitis sunt nam, obcaecati perferendis laudantium accusamus,
                necessitatibus totam amet impedit dolore nobis optio quidem enim culpa
                cumque sed ipsum!
            </p>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="https://definicionde.es/wp-content/uploads/2019/04/definicion-de-persona-min.jpg" alt="about" />
        </div>
        <article class="article__about article__about--description">
            <h2 class="article__title--about">ABOUT US 3</h2>
            <p class="article__text--about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex
                debitis sunt nam, obcaecati perferendis laudantium accusamus,
                necessitatibus totam amet impedit dolore nobis optio quidem enim culpa
                cumque sed ipsum!
            </p>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="https://definicionde.es/wp-content/uploads/2019/04/definicion-de-persona-min.jpg" alt="about" />
        </div>
        <article class="article__about article__about--description">
            <h2 class="article__title--about">ABOUT US 4</h2>
            <p class="article__text--about">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ex
                debitis sunt nam, obcaecati perferendis laudantium accusamus,
                necessitatibus totam amet impedit dolore nobis optio quidem enim culpa
                cumque sed ipsum!
            </p>
        </article>
    </article>
</section>
<%- include('partials/_footer') %>