<%- include('partials/_header') %>
<section class="section--about">
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="/public/img/about1.jpeg" alt="about" />
        </div>
        <article class="article__descAbout">
            <div>
                <h2 class="article__title--about">MISIÓN</h2>
                <p class="article__text--about">
                    La misión de CINESA es mejorar la experiencia cinematográfica desde
                    que el espectador compra la entrada hasta que sale de la sala con el
                    fin de dar la mayor calidad posible a sus espectadores. A esto se le
                    añade la continua captación de espectadores, atraer cada vez más
                    espectadores a sus salas, por ello como hemos mencionado antes, desde
                    el principio CINESA ha trabajado mucho en la expansión de sus cines
                    que actualmente se extienden a cinco países.
                </p>
            </div>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="/public/img/about2.jpeg" alt="about" />
        </div>
        <article class="article__descAbout">
            <div>
                <h2 class="article__title--about">VISIÓN</h2>
                <p class="article__text--about">
                    CINESA tiene la visión de ser una empresa de cines innovadora que
                    tiene el objetivo de mejorar la experiencia cinematográfica y la
                    interacción con el espectador. Actualmente están buscando ideas para
                    seguir atrayendo a los espectadores a las salas de cine y mejorar su
                    experiencia cinematográfica, desde el momento en el que deciden ir a
                    ver una película hasta cuando la comentan con su círculo de conocidos.
                </p>
            </div>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="/public/img/about3.jpeg" alt="about" />
        </div>
        <article class="article__descAbout">
            <div>
                <h2 class="article__title--about">ABOUT US 3</h2>
                <p class="article__text--about">
                    Los complejos actuales son la culminación del ambicioso plan de
                    modernización de CINESA: tecnología punta de proyección y sonido
                    confort, supresión de las barreras arquitectónicas que faciliten el
                    acceso a minusválidos, servicios de uso exclusivo en las plantas bajas
                    de los locales, butacas en gradas para un perfecto visionado…Un
                    confort basado no sólo en la comodidad de las butacas y la sala sino
                    también en los servicios auxiliares como el bar, la tienda de
                    golosinas, y hasta un helado si el calor aprieta. Es el cuidado de los
                    detalles lo que convierte un día en el cine en una experiencia
                    inolvidable y esa es la imagen que quiere dar CINESA. Por ello también
                    te da la posibilidad de pagar con tarjeta de crédito, venta anticipada
                    de entrada por teléfono y información al cliente 24 horas.
                </p>
            </div>
        </article>
    </article>
    <article class="article article__about">
        <div class="aboutcontainer">
            <img class="aboutcontainer__img" src="/public/img/about4.jpeg" alt="about" />
        </div>
        <article class="article__descAbout">
            <div>
                <h2 class="article__title--about">ORÍGENES</h2>
                <p class="article__text--about">
                    Los orígenes de CINESA se remontan al año 1944 y tienen como primer
                    protagonista a Alfredo Matas, productor barcelonés de prestigio cuyo
                    nombre se asocia a alguna de las mejores y más populares películas del
                    cine español. La fortuna le llevó a conocer a José Arquer, empresario
                    que estaba construyendo un lujoso complejo en la Avenida Diagonal de
                    Barcelona, el Winsor, que fue inaugurado el 11 de octubre de 1946. El
                    fabuloso complejo incluía un cine, un bar, un restaurante y un local
                    en el segundo piso que acabó siendo el primer “teatro de bolsillo” de
                    la capital catalana. El cine Windsor fue el primer eslabón de una
                    cadena que incluyó, poco después, a otros cines.
                </p>
            </div>
        </article>
    </article>
</section>
<%- include('partials/_footer') %>