<%- include ('partials/_header') %>
<section class="section section--billboard">
  <article class="article__billboard">
    <div class="billboardcontainer">
      <img
        class="billboardcontainer__img"
        src="/public/img/movie.jpg"
        alt="movie"
      />
    </div>
    <article class="article__billboard article__billboard--description">
      <h3 class="article__title--billboard">COCO</h3>
      <p class="article__text--billboard">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        temporibus dignissimos soluta tenetur reiciendis minima? Eligendi atque
        numquam dignissimos esse consequuntur, magni ut eos, facere explicabo
        delectus voluptatibus repellat maiores!
      </p>
    </article>
  </article>
  <article class="article__billboard">
    <div class="billboardcontainer">
      <img
        class="billboardcontainer__img"
        src="/public/img/movie.jpg"
        alt="movie"
      />
    </div>
    <article class="article__billboard article__billboard--description">
      <h3 class="article__title--billboard">COCO</h3>
      <p class="article__text--billboard">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        temporibus dignissimos soluta tenetur reiciendis minima? Eligendi atque
        numquam dignissimos esse consequuntur, magni ut eos, facere explicabo
        delectus voluptatibus repellat maiores!
      </p>
    </article>
  </article>
  <article class="article__billboard">
    <div class="billboardcontainer">
      <img
        class="billboardcontainer__img"
        src="/public/img/movie.jpg"
        alt="movie"
      />
    </div>
    <article class="article__billboard article__billboard--description">
      <h3 class="article__title--billboard">COCO</h3>
      <p class="article__text--billboard">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        temporibus dignissimos soluta tenetur reiciendis minima? Eligendi atque
        numquam dignissimos esse consequuntur, magni ut eos, facere explicabo
        delectus voluptatibus repellat maiores!
      </p>
    </article>
  </article>
</section>
<%- include ('partials/_footer') %>
