<%- include ('partials/_header') %>
<section class="section section--billboard">
    <article class="article__billboard">
        <div class="billboardcontainer">
            <img class="billboardcontainer__img" src="" alt="movie">
        </div>
        <article class="article__billboard article__billboard--description">
            <h3></h3>
            <p></p>
        </article>
    </article>
</section>
<%- include ('partials/_footer') %>