<%- include('partials/_header') %>
    <form action="/send-email" method="POST">

        <section class="container contact mt-5">
            <h2 class="text-center">Formulario de contacto</h2>
            <div class="contact__group">
                <input type="text" required name="nombre" class="contact__input" /><span class="contact__barra"></span>
                <label class="contact__label">Nombre</label>
            </div>


            <div class="contact__group">
                <input type="email" required name="email" class="contact__input" />
                <span class="contact__barra"></span>
                <label class="contact__label">Email</label>
            </div>

            <div class="contact__group">
                <input type="number" required name="telefono" class="contact__input" />
                <span class="contact__barra"></span>
                <label class="contact__label">Telefono</label>
            </div>

            <div class="contact__group">
                <input type="text" required name="consulta" class="contact__input" />
                <span class="contact__barra"></span>
                <label class="contact__label">Consulta</label>
            </div>

            <div class="contact__group">
                <textarea required name="comentario" class="contact__input"></textarea>
                <span class="contact__barra"></span>
                <label class="contact__label"> Comentario</label>
            </div>
            <button class="btn btn-success section__btn">Enviar</button>



        </section>


    </form>



    <%- include('partials/_footer') %>