<%- include('partials/_header') %>

    <section class=" section section--contact">

        <h2 class=" section__label">Nombre</h2>
        <input type="text" required name="nombre" class="section__data" />

        <h2 class="section__label">Email</h2>
        <input type="email" required name="email" class="section__data" />

        <h2 class="section__label">Telefono</h2>
        <input type="number" required name="telefono" class="section__data" />

        <h2 class="section__label">Consulta</h2>
        <input type="text" required name="comsulta" class="section__data" />

        <h2 class="section__label"> Comentario</h2>
        <textarea required name="comentario" class="section__data"></textarea>





    </section>


    <%- include('partials/_footer') %>