<%- include('partials/_header') %>
    <h2 class="index__title">Estrenos</h2>
    <div class="index--all">
        <div class="index__carrousel">
            <figure class="index__carrousel__figura"><img src="../../public/img/img1.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img2.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img3.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img4.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img5.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img6.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img7.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img8.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img9.jpg" class="index__carrousel__img"></figure>
            <figure class="index__carrousel__figura"><img src="../../public/img/img10.jpg" class="index__carrousel__img"></figure>
        </div>
    </div>

    <%- include('partials/_footer') %>