<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Crud con Nodejs
    </title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
</head>

<body>
    <header class="header">
        <div class="banner">
            <img class="banner__img" src="/public/img/banner.jpg" alt="banner">
        </div>
        <nav class="nav nav--header">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="">Inicio</a></li>
                <li class="nav__item"><a class="nav__link" href="">Cartelera</a></li>
                <li class="nav__item"><a class="nav__link" href="">Deals</a></li>
                <li class="nav__item"><a class="nav__link" href="">Contacto</a></li>
                <li class="nav__item"><a class="nav__link" href="">Acerca de nosotros</a></li>
                <li class="nav__item">
                    <a class="nav__link" href=""></a>
                </li>
            </ul>
            <span class="nav__item nav__item--right"><a class="nav__link">Login</a></span>
        </nav>
    </header>