<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Crud con Nodejs
    </title>
    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="/public/css/index.css" />
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <header class="header">
        <div class="banner">
            <img class="banner__img" src="/public/img/banner.jpg" alt="banner">
        </div>
        <nav class="nav nav--header">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="">Inicio</a></li>
                <li class="nav__item"><a class="nav__link" href="">Cartelera</a></li>
<<<<<<< HEAD
                <li class="nav__item"><a class="nav__link" href="">Deals</a></li>
                <li class="nav__item"><a class="nav__link" href="">Contacto</a></li>
=======
                <li class="nav__item"><a class="nav__link" href="/contact">Contacto</a></li>
>>>>>>> 842d8b7ac7a0f12384f350e5b3458f693eb7c371
                <li class="nav__item"><a class="nav__link" href="">Acerca de nosotros</a></li>
                <li class="nav__item">
                    <a class="nav__link" href=""></a>
                </li>
            </ul>
            <span class="nav__item nav__item--right"><a class="nav__link">Login</a></span>
        </nav>
    </header>