<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Crud con Nodejs
    </title>
    <!-- CSS only -->
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    <header class="header">
        <nav class="nav nav--header">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="">Inicio</a></li>
                <li class="nav__item"><a class="nav__link" href="">Cartelera</a></li>
                <li class="nav__item"><a class="nav__link" href="">Contacto</a></li>
                <li class="nav__item"><a class="nav__link" href="">Acerca de nosotros</a></li>
                <li class="nav__item">
                    <a class="nav__link" href=""></a>
                </li>
            </ul>
            <span class="nav__item"><a class="nav__link"></a></span>
        </nav>
    </header>