.carousel{
    &__desc{
        background: $sixth-color;
        bottom: 27%;
        left: 6%;
        position: absolute;
        left: 6%;
        padding: 45px;
        color: $secundary-color;
        width: 88%;
    }
    &__img{
        height: 350px;
        object-fit: cover;
    }
}