.carousel{
    &__desc{
        background: rgba(0, 0, 0, 0.5);
        bottom: 27%;
        left: 6%;
        position: absolute;
        left: 6%;
        padding: 45px;
        color: #fff;
        width: 88%;
    }
    &__img{
        height: 350px;
        object-fit: cover;
    }
}