.section {
    padding: 10px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    text-align: center;
    &--contact {
        min-width: 300px;
        height: 400px;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    &__data {
        margin-top: 10px;
        width: 330px;
        height: 40px;
        border-radius: 10px;
        margin-right: 10px;
        border: solid 1.5px;
        border-color: $eleventh-color;
        margin-left: auto;
        margin-right: auto;
    }
    &__btn {
        width: 200px;
        height: 50px;
        font-size: 1.3rem!important;
        border-radius: 24px!important;
        margin-top: 10px;
    }
    &__label {
        margin-top: 10px;
        font-size: 1.3rem;
        margin-left: auto;
        margin-right: auto;
    }
    @media(min-width: 378px) {
        &__label {
            width: 185px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media(min-width: 689px) {
        &--contact {
            max-width: 900px;
            margin-top: 4em;
        }
        &__data {
            width: 500px;
        }
        &__label {
            width: 200px;
        }
    }
    &--billboard {
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &--about {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__contenedorDialog {
        margin-left: 16px;
        margin-right: 16px;
    }
    &__dialog {
        margin-left: auto;
        margin-right: auto;
        border: none;
        &::backdrop {
            background: linear-gradient(83deg, $quartity-color, $fifth-color);
        }
    }
    &__deal {
        width: 90%;
        margin: 50px auto;
        max-width: 1130px;
    }
}