.footer {
    margin-top: 20px;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    &__copyright {
        font-size: 18px;
        color: white;
    }
}


@media(min-width: 1500px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}