.footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
    &__copyright {
        font-size: 18px;
        color: white;
    }
    &__item {
        max-width: 90px;
    }
    &__img {
        width: 48px;
    }
}

.logo {
    width: 90px;
}