.nav {
    &--header {
        flex: 1 1 auto;
    }
    &__list{
        list-style: none;
    }
    &__item{
        display: inline-block;
        &--right{
            display: inline;
        }
    }
    &__link{
        text-decoration: none;
    }
}